# This requirements are for development and testing only, not for production.
pytest
coverage
flake8
black
isort
pytest-cov
codecov
mypy
gitchangelog
mkdocs
pytest-picked
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
